*{
    margin: 0;
    padding: 0;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.square{
    min-width: 250px;
    min-height: 250px;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol{
    font-size: 12em;
    user-select: none;
}

.board{
    
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;


}

.top{
    border-top: 0;
}

.left{
    border-left: 0;
}

.right{
    border-right: 0;
}

.bottom{
    border-bottom: 0;
}

.new-game{
    padding: 10px;
    font-size: 24px;

}