@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root{
    --background-color: #222831;
    --primary: #ff5722;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

h1{
    color: var(--primary);
}

.title{
    font-size: 3em;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: var(--background-color);
}

.square{
    min-width: 250px;
    min-height: 250px;
    border: 3px solid var(--primary);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.symbol{
    font-size: 11em;
    user-select: none;
    color: var(--primary);
    transition: all .3s ease;
}

.board{
    
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary);
    box-shadow: var(--primary) 0px 20px 55px, var(--primary) 0px -12px 30px, var(--primary) 0px 4px 6px, var(--primary) 0px 12px 13px, var(--primary) 0px -3px 5px;
    

}

.top{
    border-top: 0;
}

.left{
    border-left: 0;
}

.right{
    border-right: 0;
}

.bottom{
    border-bottom: 0;
}

.new-game{
    margin-top: 1em;
    background-color: var(--primary);
    color: var(--background-color);
    padding: 20px;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    font-weight: 800;
    box-shadow: var(--primary) 0px 20px 55px, var(--primary) 0px -12px 30px, var(--primary) 0px 4px 6px, var(--primary) 0px 12px 13px, var(--primary) 0px -3px 5px;
    cursor: pointer;
    transition: all .3s ease;

}

.inverted{
    background-color: var(--primary);
    color: var(--background-color);
    transition: all 1s ease;
}

.new-game:hover{
    
    background-color: var(--background-color);
    color: var(--primary);
    
}